CalculatesInterest/.vs/
CalculatesInterest/CalculatesInterest.API/bin/
CalculatesInterest/CalculatesInterest.API/obj/
CalculatesInterest/CalculatesInterest.Domain/bin/
CalculatesInterest/CalculatesInterest.Domain/obj/
CalculatesInterest/CalculatesInterest.Infra.Data/bin/
CalculatesInterest/CalculatesInterest.Infra.Data/obj/
CalculatesInterest/CalculatesInterest.Service/bin/
CalculatesInterest/CalculatesInterest.Service/obj/
CalculatesInterest/CalculatesInterest.Test/bin/
CalculatesInterest/CalculatesInterest.Test/obj/
CalculatesInterest/obj/
InterestRate/.vs/
InterestRate/InterestRate.API/bin/
InterestRate/InterestRate.API/obj/
InterestRate/InterestRate.Domain/obj/
InterestRate/InterestRate.IntegrationTest/InterestRate.IntegrationTest/bin/
InterestRate/InterestRate.Domain/bin/
InterestRate/InterestRate.IntegrationTest/InterestRate.IntegrationTest/obj/
InterestRate/InterestRate.Service/bin/
InterestRate/InterestRate.Service/obj/
InterestRate/obj/
